label {
  border: 0;
  outline: none;
  flex: 1;
  @include display();
  @include border(bottom, $greyHighLight);
  @include padMrg(padding, 1em 0);

  @include media(750px) {
    // background: $greyHighLight;
  }
}

input,
textarea {
  background: transparent;   
  outline: none;  
  border: 0; 
  width: $fullCover;
  color: $greyMedLight;
  @include padMrg(padding, 1em 0 1em 1em);
  @include position();
  @include transition(all 0.5s ease); 

  @include media(750px) {
    @include padMrg(padding, 0.7em 0 0.7em 0.7em);
  }
}

textarea {
  height: 150px;
  resize: none;
}

input:focus,
textarea:focus {
  background: $greyHighLight;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $greyMedLight !important;
  @include shadow(box-shadow, 0 0 0px 1000px white inset);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lighten($black, 65%);
}

::-moz-placeholder { /* Firefox 19+ */
  color: lighten($black, 65%);
  opacity: 1;
}

:-ms-input-placeholder { /* IE 10+ */
  color: lighten($black, 65%);
}

:-moz-placeholder { /* Firefox 18- */
  color: lighten($black, 65%);
  opacity: 1;
}

.form-submit-message {
  opacity: 0;
  background: lighten($blue, 40%);
  color: $blueDark;
  @include display(none);
  @include padMrg(padding, 0.7em);
  @include padMrg(margin, 1.2em 0);
  @include transition(opacity 0.5s ease);
}

