.articles {
  background: lighten($turquoiseBlue, 3%);
  @include position();

  &__content {
    @include padMrg(margin, 0 auto);
    @include padMrg(padding, 15em 0);

    @include media(800px) {
       @include padMrg(padding, 10em 0);
    }

    @include media(650px) {
      @media (orientation: landscape) {
         @include padMrg(padding, 7em 0);
      }
    }

    @include media(450px) {
      @include padMrg(padding, 8em 0);
    }
  }

  &__tx-content {
    width: 100%;
    max-width: 1300px;
    @include padMrg(margin, 0 auto 2.5em);

    @include media(1550px) {
      width: 100%;
      max-width: 1150px;
    }

    @include media(1350px) {
      max-width: 1000px;
    }

    @include media(1150px) {
      max-width: 900px;
    }

    @include media(950px) {
      max-width: 750px;
    }

    @include media(850px) {
      max-width: 650px;
    }

    @include media(750px) {
      max-width: 600px;
    }

    @include media(650px) {
      max-width: 500px;
    }

    @include media(550px) {
      max-width: 400px;
    }

    @include media(450px) {
      max-width: 300px;
    }

    @include media(350px) {
      max-width: 275px;
    }
  }

  &__heading {
    line-height: $headingLine;
    
    span {
      color: lighten($turquoiseBlue, 3%);
      background: $blue;
      @include padMrg(padding, 0 0.2em);
    }
  }

  &__list {
    list-style-type: none;
    flex-flow: row nowrap;
    @include display(flex);

    @include media(1150px) {
      flex-flow: row wrap;
    }
  }

  &__item {
    background: rgba($black, 0.08);
    flex: 0 0 23%;
    overflow: hidden;
    @include padMrg(margin, 1%);
    @include position();

    @include media(1150px) {
      flex: 1 0 45%;
    }

    @include media(550px) {
     flex: 1 0 100%;
     @include padMrg(margin, 2% 0);
    }

    h2 {
      font-size: $largeFont;
      color: $white;
      @include padMrg(padding, 1em 1em 0);
    }

    p {
      @include padMrg(padding, 0 1em 1em);
      @include transition(all 0.5s ease);
    }

    button {
      transform: translate(-100%, -60px);
      @include position(absolute, 100%, 0);
      @include padMrg(margin, 1em 0 0);
      &:after {
        background: $white;
      }
    }

    &:hover button {
      transform: translate(0, -60px);
    }

    &:hover p {
      @include padMrg(padding, 0 1em 2.5em);
    }

    &:hover span:after {
      background: rgba($blueDark, 0);
    }

    &:hover span img {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }

  &__img {
    overflow: hidden;
    @include display(block);
    @include position();

    &:after {
      content: "";
      width: $fullCover;
      height: $fullCover;
      background: rgba($blueDark, 0.25);
      @include position(absolute, 0, 0);
      @include transition(all 0.3s ease-in-out);
    }

    img {
      max-width: none;
      width: calc(100% + 50px);
      opacity: 0.9;
      display: block;
      transform: translate3d(-40px, 0, 0);
      @include transition(opacity 0.35s, transform 0.35s);
    }
  }
}

// Article pages
.article-page {
  // background: lighten($turquoiseBlue, 3%);

  &__close-btn {
    float: right;
    background: $blue;
    color: $white;
    font-size: $largeFont;
    font-weight: $mediumBold;
    cursor: pointer;
    @include padMrg(padding, 0.3em 0.7em);
    @include transition(opacity 0.5s ease 0.5s, background 0.5s ease);

    @include media(1050px) {
      font-size: $mediumFont;
      @include padMrg(padding, 0.2em 0.5em);
    }

    &:hover {
      background: lighten($turquoiseBlue, 3%);
    }
  }

  &__content {
    background: $white;
    width: 75%;
    @include shadow(box-shadow, 0 0 25px 0 rgba($black, 0.3));
    @include padMrg(margin, 2% auto 2%);

    @include media(1350px) {
      width: 85%;
    }
  }

  &__tx-content {
    @include padMrg(padding, 2em);
    @include clearfix();

    h1 {
      span {
        background: $blue;
        color: $white;
        @include padMrg(padding, 0 0.2em);

        &::selection {
          color: $blue;
          background: $white;
        }
      }
    }

    h2 {
      font-size: $largeFont;
      @include padMrg(margin-bottom, 1em);
    }

    h3 {
      font-size: $mediumFont;
      color: $black;
      font-weight: $mediumBold;
    }

    blockquote {
      background: lighten($black, 95%);
      border-left: 10px solid lighten($black, 75%);
      quotes: "\201C""\201D""\2018""\2019";
      @include padMrg(padding, 0.5em);
      @include padMrg(margin, 1.5em 0.5em);

      &:before,
      &:after {
        color: lighten($black, 75%);
        font-size: $baseFontSize * 4;
        line-height: 0.2em;
        vertical-align: -0.4em;
      }

      &:before {
        content: open-quote;
        margin-right: 0.25em;
        @include padMrg(margin-right, 0.2em);
      }

      &:after {
        content: close-quote;
        margin-left: 0.25em;
        @include padMrg(margin-left, 0.2em);
      }

      p {
        display: inline;
      }
    }

    pre {
      white-space: pre-wrap;
      word-wrap: break-word;
      background: $black;
      overflow-x: auto;
      color: $turquoiseBlue;
      line-height: 1.3em;
      @include padMrg(padding, 1em);
    }

    code {
      font-family: Courier, 'New Courier', monospace;
    }

    ul {
      list-style-type: none;
    }

    li:before {
      content: "\0274D";
      font-weight: $bold;
      @include padMrg(margin-right, 0.5em);
    }
  }

  &__imgs {
    text-align: center;

    img {
      width: 100%;
      max-width: 923px;
    }
  }
}