body {
  font: $baseFontWeight $baseFontSize $baseFont;
  background: $white;
  line-height: 1.8;
  color: $grey;
}

h1 {
  font-size: $h1Size;
  color: $h1Color;
  font-weight: $bold;
}

h2 {
  font-size: $h2Size;
  color: $h2Color;
  font-weight: $mediumBold;
}

h3 {
  font-size: $h3Size;
  color: $h3Color;
  font-weight: $baseFontWeight;
}