body {
  font: $light $baseFontSize $baseFont;
  background: $blue;
  line-height: 1.8;
  color: $greyDark;
  letter-spacing: 0.05rem;
}

h1 {
  font-size: $h1Size;
  color: $h1Color;
  font-weight: $bold;
}

h2 {
  font-size: $h2Size;
  color: $h2Color;
  font-weight: $mediumBold;
}

h3 {
  font-size: $h3Size;
  color: $h3Color;
  font-weight: $normal;
}

.wrapper {
  width: $fullCover;
}

main {
  // @include padMrg(margin-top, 100px);
}

section {
  height: 100vh;
  width: $fullCover;
}

p {
  @include padMrg(margin, 1em 0);
}

a:link,
a:visited {
  color: $blueMidDark;
  @include transition(all 0.5s ease);
}

a:hover,
a:active {
  color: $black;
}