.contact {
  overflow: hidden;
  @include position();

  &__content {
    width: 70%;
    max-width: 1300px;
    @extend %positionCenter;
  }

  &__heading {
    line-height: $headingLine;

    span {
      background: $blue;
      color: $white;
      @include padMrg(padding, 0 0.2em);

      &::selection {
        color: $blue;
        background: $white;
      }
    }
  }

  &__form-content {
    overflow: hidden;
    width: $fullCover;

    #contact-form {
      > div {
        display: flex;
        justify-content: flex-start;
        @include position();
      }

      > div > span {
        border: 0;
        display: flex;
        flex: 2.5;
        outline: none;
        width: $fullCover;
        align-items: stretch;
        @include border(bottom, $greyHighLight);
        @include position();
      }

      > div > span:after {
        background: $greyHighLight;
        content: "";
        height: 0;
        transform: translateY(-100%);
        width: $fullCover;
        z-index: -1;
        @include transition(all 0.5s ease); 
        @include position(absolute, 100%, 0);
      }

      > div > span:hover:after {
        height: $fullCover;
      }
    }
  }
}