.contact {
  @include position();

  &__content {
    border: 1px solid red;
    @include padMrg(margin, 0 auto);
    @include padMrg(padding, 15em 0);
  }

  &__heading {
    line-height: $headingLine;

    span {
      background: $blue;
      color: $white;
      @include padMrg(padding, 0 0.2em);

      &::selection {
        color: $blue;
        background: $white;
      }
    }
  }

  &__form-content {
    overflow: hidden;
    width: $fullCover;

    #contact-form {
      > div {
        display: flex;
        justify-content: flex-start;
        @include position();

        @include media(750px) {
          flex-direction: column;
        }
      }

      > div > span {
        border: 0;
        display: flex;
        flex: 2.5;
        outline: none;
        width: $fullCover;
        align-items: stretch;
        @include border(bottom, $greyHighLight);
        @include position();

        @include media(750px) {
          @include border(left, $greyHighLight);
          @include border(right, $greyHighLight);
        }
      }

      > div > span:after {
        background: $greyHighLight;
        content: "";
        height: 0;
        transform: translateY(-100%);
        width: $fullCover;
        z-index: -1;
        @include transition(all 0.5s ease); 
        @include position(absolute, 100%, 0);
      }

      > div > span:hover:after {
        height: $fullCover;
      }
    }
  }
}