.page-footer {
  background: $greyDark;
  color: lighten($black, 60%);
  font-size: $smallFont;
  font-weight: $mediumBold;
  text-align: center;
  width: $fullCover;
  overflow: hidden;
  @include padMrg(padding, 1em);

  @include media(650px) {
    line-height: 1.6;
  }

  &__icon {
    color: $red;
  }
}