.page-footer {
  background: $greyDark;
  color: lighten($black, 50%);
  font-size: $smallFont;
  font-weight: $normal;
  text-align: center;
  width: $fullCover;
  line-height: 0.9;
  @include padMrg(padding, 1em);

  @include media(650px) {
    line-height: 1.4;
  }

  span {
    color: $red;
  }
}