.page-footer {
  background: $greyDark;
  color: lighten($black, 50%);
  font-size: $smallFont;
  font-weight: $normal;
  text-align: center;
  width: $fullCover;
  overflow: hidden;
  @include padMrg(padding, 1em);

  @include media(650px) {
    line-height: 1.6;
  }

  span {
    color: $red !important;
  }
}