.header {
  font-weight: $light;
  height: 100px;
  line-height: 100px;
  overflow: hidden;
  width: $fullCover;
  z-index: 100;
  @include padMrg(padding, 0 1.5em);
  @include position(fixed, 0, 0);
  @include transition(height 0.3s ease);

  &__logo {
    float: left;
  }

  &__logo-initials {
    font-weight: $bold;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center;
    transform: translate3d(0, -50%, 0);
    cursor: pointer;
    perspective: 800px;
    @include position(absolute, 50%);

    &:hover .header__logo-front {
      transform: rotateY(-180deg);
    }

    &:hover .header__logo-back {
      transform: rotateY(0deg);
    }
  }

  &__logo-back,
  &__logo-front {
    backface-visibility: hidden;
    @include position(absolute, 0, 0, 0, 0);
    @include transition(transform 0.5s ease);
  }

  &__logo-back {
    background: $white;
    color: $blueDark;
    transform: rotateY(180deg);
  }

  &__logo-front {
    background: $turquoiseBlue;
    color: $blueDark;
    transform: rotateY(0deg);
  }

  &__logo-name {
    font-size: $largeFont;
    font-weight: $normal;
    color: $white;
    @include padMrg(margin-left, 50px);
  }

  &__nav {
    float: right;
  }

  &__nav-list {
    list-style-type: none;
  }

  &__nav-items {
    overflow: hidden;
    @include display();
    @include padMrg(margin, 0 0.5em);

    &:last-child {
      @include padMrg(margin-right, 0);
    }
  }

  &__nav-links:link,
  &__nav-links:visited {
    color: $white;
    font-weight: $normal;
    @include padMrg(padding, 0.2em 0.5em);
    @include position();
    @include transition(color 0.3s ease-in-out 0.3s);
  }

  &__nav-links:hover,
  &__nav-links:active {
    color: $turquoiseBlue;
  }

  &__nav-links:after {
    content: "";
    background: $turquoiseBlue;
    height: $fullCover;
    transform: translate(-100%, -120%);
    width: 0;
    z-index: -1;
    @include position(absolute, 120%, 100%);
    @include transition(width 0.4s cubic-bezier(0.7,0,0.3,1));
  }

  &__nav-links:hover:after {
    width: $fullCover;
  }

  &__nav-links span {
    @include position();
    @include display();
  }

  &__nav-links span:before {
    content: attr(data-letters);
    color: $blue;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    font-weight: $mediumBold;
    transform: translate(0, -50%);
    @include display(block);
    @include position(absolute, 50%, 0);
    @include transition(width 0.4s cubic-bezier(0.7,0,0.3,1));
  }

  &__nav-links:hover span:before {
    width: $fullCover;
  }

}
// Comact header styles
.compact-header {
  background: $blue; 
  height: 60px; 
  line-height: 60px; 
  box-shadow: 0 0 20px 10px rgba($black, 0.2);
}

// Active link
.active-link {
  background: $turquoiseBlue;
  color: $blue;
  font-weight: $mediumBold;
  @include padMrg(padding, 0.2em 0.5em);

  &:hover {
    color: $blue;
  }
}