.header {
  font-weight: $light;
  overflow: hidden;
  width: $fullCover;
  height: 100px;
  line-height: 100px;
  z-index: 100;
  @include padMrg(padding, 0 1.5em);
  @include position(fixed, 0, 0);

  &__logo {
    float: left;
  }

  &__logo-initials {
    background: $turquoiseBlue;
    color: $blue;
    font-weight: $bold;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    transform: translateY(-50%);
    @include position(absolute, 50%);
  }

  &__logo-name {
    font-size: $largeFont;
    font-weight: $normal;
    @include padMrg(margin-left, 50px);
  }

  &__nav {
    float: right;
  }

  &__nav-list {
    list-style-type: none;
  }

  &__nav-items {
    @include display();
    @include padMrg(padding, 0 1em);

    &:last-child {
      @include padMrg(padding-right, 0);
    }
  }

  &__nav-links {
    color: $white;
    @include position();
    @include transition(all 0.5s ease-in-out);
  }

  &__nav-links:hover {
    color: $turquoiseBlue;

  }

  &__nav-links:before {
    content: "";
    transform: translate(0, -120%);
    width: 0;
    height: 2px;
    background: $blueDark;
    @include display(block);
    @include position(absolute, 120%, 0);
    @include transition(all 0.5s ease-in-out);
  }

  &__nav-links:hover:before {
    width: 100%;
  }
}