#particles-js {
  background: $blue;
  z-index: 0;
  overflow: hidden;
  height: 100vh;
  @include position();
}

.home {
  background: $blue;

  &__content {
    color: $white;
    font-weight: $light;
    @extend %positionCenter;
  }

  a:after {
    content: "";
    width: 0;
  }

  &__heading {
    color: $white;
    line-height: $headingLine;
    @include shadow(text-shadow, 0 0 20px rgba($white, 0.3));

    span {
      background: $turquoiseBlue;
      color: $blue;
      @include padMrg(padding, 0 0.2em);

      &::selection {
        color: $turquoiseBlue;
        background: $blue;
        @include shadow(text-shadow, 0 0 0 rgba($white, 0.3));
      }
    }
  }

  &__social-links {
    list-style-type: none;
  }

  &__social-item {
    // border: 1px solid white;
    @include display();
    @include padMrg(margin-right, 2em);

    svg {
      fill: $white;
      width: 100%;
      height: auto;
      max-width: 23px;
      transform-origin: top left;
      @include transition(all 0.3s ease-in-out);

      &:hover {
        fill: $turquoiseBlue;
        transform: scale(1.2);
      }
    }
  }

  ::selection {
    background: $turquoiseBlue;
    color: $blue;
  }
}