#particles-js {
  z-index: 0;
  overflow: hidden;
  height: 100vh;
  @include position();

  @include media(650px) {
    @media (orientation: landscape) {
       min-height: 650px;
    }
  }

  @include media(400px) {
    @media (max-height: 700px) {
       min-height: 675px;
    }
  }
}

.home {
  background: $blue;
  cursor: url(../images/cursor-green.png), 
          url(../images/cursor-green.cur), 
          default; 

  &__content {
    background: $blue;
    color: $white;
    font-weight: $light;
    @extend %positionCenter;

    @include media(1050px) {
      @include padMrg(margin-top, 1.1rem);
    }
  }

  a:after {
    content: "";
    width: 0;
  }

  &__heading {
    color: $white;
    line-height: $headingLine;
    @include shadow(text-shadow, 0 0 20px rgba($white, 0.3));

    span {
      background: $turquoiseBlue;
      color: $blue;
      @include padMrg(padding, 0 0.2em);
      @include padMrg(margin-right, 5px);

      &::selection {
        color: $turquoiseBlue;
        background: $blue;
        @include shadow(text-shadow, 0 0 0 rgba($white, 0.3));
      }
    }
  }

  &__social-links {
    list-style-type: none;
  }

  &__social-item {
    @include display();
    @include padMrg(margin-right, 2em);

    svg {
      fill: $white;
      width: 100%;
      height: auto;
      max-width: 23px;
      transform-origin: top left;
      @include transition(all 0.3s ease-in-out);

      @include media(800px) {
        max-width: 20px;
      }

      @include media(350px) {
        max-width: 18px;
      }

      &:hover {
        fill: $turquoiseBlue;
        transform: scale(1.2);
      }
    }
  }

  ::selection {
    background: $turquoiseBlue;
    color: $blue;
  }
}