.mobile-nav-btn {
  width: 2rem;
  z-index: 110;
  border: 0;
  cursor: pointer;
  @include display(none);
  @include position(fixed, $top: 20px,  $right: 1.2em);
  @include transition(transform 0.5s ease 0.1s);

  @include media(850px) {
    @include display(block);
  }

  @include media(550px) {
    width: 1.6rem;
    right: 1em;
  }

  span {
    background: $white;
    width: 100%;
    height: 2px;
    float: right;
    @include padMrg(margin-bottom, 8px);
    @include display(block);
    @include transition(all 0.3s ease-in-out);

    @include media(550px) {
      @include padMrg(margin-bottom, 7px);
    }

    &:nth-of-type(2) {
      width: 70%;
    }
  }

  &:hover span {
    width: 70%;
  }

  &:hover span:nth-of-type(2) {
    width: 100%;
  }
}

.mobile-nav {
  z-index: 200;
  width: 100%;
  background: rgba($blue, 1);
  @include position(fixed, 0, 0, 0, 0);
  @include transition(transform 0.5s cubic-bezier(0.77, 0, 0.175, 1));

  &--inactive {
    transform: translate3d(200%, 0, 0);
  }

  &--active {
    transform: translate3d(0, 0, 0);
  }

  &__list {
    list-style-type: none;
    width: 100%;
    @include padMrg(margin-top, 6em);

    @include media(900px) {
      @media (orientation: landscape) {
        @include padMrg(margin-top, 1em);
      }
    }
  }

  &__items {
    text-align: center;
    font-size: $largeFont;
    @include display(block);
    @include padMrg(padding, 1.5em);
    @include border(bottom, rgba($white, 0.3));

    &:last-child {
      @include border(bottom, rgba($black, 0));
    }

    @include media(900px) {
      @media (orientation: landscape) {
         @include padMrg(padding, 1em);
      }
    }
  }

  &__close-btn {
    float: right;
    color: $white;
    font-size: 2rem;
    cursor: pointer;
    font-weight: $light;
    line-height: 1;
    @include position(absolute, $top: 30px,  $right: 20px);
    @include transition(transform 0.3s ease 0.1s);

    @include media(550px) {
      font-size: 1.8rem;
      top: 13px;
    }

    &:hover {
      transform: rotate(90deg);
    }
  }
}

