.projects {
  @include position();

  &__content {
    @include padMrg(margin, 0 auto);
    @include padMrg(padding, 13em 0);

    @include media(1300px) {
       @include padMrg(padding, 11em 0);
    }

    @include media(900px) {
       @include padMrg(padding, 10em 0);
    }

    @include media(650px) {
      @media (orientation: landscape) {
         @include padMrg(padding, 7em 0);
      }
    }

    @include media(450px) {
       @include padMrg(padding, 5em 0);
    }
  }

  &__tx-content {
    width: 100%;
    max-width: 1300px;
    @include padMrg(margin, 0 auto 2.5em);

    @include media(1550px) {
      width: 100%;
      max-width: 1150px;
    }

    @include media(1350px) {
      max-width: 1000px;
    }

    @include media(1150px) {
      max-width: 900px;
    }

    @include media(950px) {
      max-width: 750px;
    }

    @include media(850px) {
      max-width: 650px;
    }

    @include media(750px) {
      max-width: 600px;
    }

    @include media(650px) {
      max-width: 500px;
    }

    @include media(550px) {
      max-width: 400px;
    }

    @include media(450px) {
      max-width: 300px;
    }

    @include media(350px) {
      max-width: 275px;
    }
  }

  &__heading {
    line-height: $headingLine;

    span {
      color: $white;
      background: $blue;
      @include padMrg(padding, 0 0.2em);

      &::selection {
        color: $blue;
        background: $white;
      }
    }
  }

  &__gallery-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  &__gallery-item {
    flex: 1 0 25%;
    height: auto;

    @include media(1350px) {
      flex: 1 0 33.33%;
    }

    @include media(950px) {
      flex: 1 0 50%;
    }

    @include media(550px) {
     flex: 1 0 100%;
    }
  }

  &__gallery-img {
    cursor: pointer;
    overflow: hidden;
    @include display(block);
    @include position();

    &:after {
      content: "";
      width: $fullCover;
      height: $fullCover;
      background: rgba($blueDark, 0.5);
      @include position(absolute, 0, 0);
      @include transition(all 0.2s ease-in-out);
    }

    &:hover:after {
      background: rgba($blueDark, 0);
    }

    img {
      max-width: none;
      width: calc(100% + 50px);
      opacity: 0.9;
      display: block;
      transform: translate3d(-40px, 0, 0);
      @include transition(opacity 0.2s, transform 0.35s);
    }

    &:hover img {
      opacity: 1;
      transform: translate3d(0,0,0);
    }

    p {
      opacity: 1;
      background: rgba($blue, 0.9);
      color: $white;
      // transform: translateY(100%);
      @include position(absolute, $bottom: -60px, $left: 0);
      @include padMrg(padding, 0.5em 1em);
      @include padMrg(margin, 0);
      @include transition(all 0.35s cubic-bezier(.17,.67,0,1.81));
      // @include transition(opacity 0.35s, transform 0.35s);
      // transform: translate3d(-100%, -93%, 0);
      // @include position(absolute, 93%);

      // @include media(2000px) {
      //   @include position(absolute, 90%);
      //   transform: translate3d(-100%, -90%, 0);
      // }

      // @include media(1650px) {
      //   @include padMrg(padding, 0.5em 0.7em);
      // }

      // @include media(1150px) {
      //   font-size: $baseFontSize / 1.1;
      // }

      // @include media(700px) {
      //   @include position(absolute, 86%);
      //   transform: translate3d(-100%, -86%, 0);
      // }

      // @include media(550px) {
      //   @include position(absolute, 92%);
      //   transform: translate3d(-100%, -92%, 0);
      // }

      // @include media(400px) {
      //   @include position(absolute, 88%);
      //   transform: translate3d(-100%, -88%, 0);
      // }
    }

    &:hover p {
      opacity: 1;
      @include position(absolute, $bottom: 0, $left: 0);

      // @include media(2000px) {
      //   transform: translate3d(0, -90%, 0);
      // }

      // @include media(700px) {
      //   transform: translate3d(0, -86%, 0);
      // }

      // @include media(550px) {
      //   transform: translate3d(0, -92%, 0);
      // }

      // @include media(400px) {
      //   transform: translate3d(0, -88%, 0);
      // }
    }
  }

  &__modal {
    background: $white;
    z-index: 150;
    overflow: hidden;
    @include position(fixed, 0, 0, 0, 0);

    @include media(400px) {
      overflow-y: scroll;
    }
  }

  &__modal-wrapper {
    width: 70%;
    // transform: perspective(1px) translate3d(-50%, -50%, 0);
    // transform-style: preserve-3d;
    // @include position(absolute, 50%, 50%);
    // top: 50%;
    // @include padMrg(margin-left, auto);
    transform: translateY(-50%);
    @include padMrg(margin, 50vh auto 0);
    @include position();

    @include media(1850px) {
      width: 85%;
    }

    @include media(800px) {
      width: 90%;
    }

    @include media(600px) {
      width: 85%;
    }
  }

  &__modal-content {
    font-weight: $normal;
    display: flex;
    justify-content: space-between;
    @include position();
    @include transition(opacity 0.5s ease 0.5s);

    @include media(1100px) {
      flex-direction: column-reverse;
    }
  }

  &__modal-text {
    @include padMrg(margin-right, 1em);
    @include media(2250px) {
      flex: 1 0 0;
    }

    @include media(1850px) {
      flex: 0 1 40%;
      align-self: center;
      @include padMrg(margin-top, 1em);
    }

    @include media(1100px) {
      > div {
        width: 46%;

        &:nth-of-type(1) {
          float: left;
        }

        &:nth-of-type(2) {
          float: right;

          p:last-child span {
            font-weight: $normal;
            @include padMrg(margin-right, 1.6em);
          }
        }
      }
    }

    h1 {
      color: $blue;
      line-height: 1.3;

      @include media(1850px) {
        font-size: $baseFontSize * 2.7;
      }

      @include media(1650px) {
        font-size: $baseFontSize * 2.3;
      }

      @include media(1450px) {
        font-size: $baseFontSize * 2.1;
      }

      @include media(1100px) {
        font-size: $baseFontSize * 1.7;
      }

      @include media(1050px) {
        font-size: $baseFontSize * 1.4;
      }

      @include media(450px) {
        font-size: $baseFontSize * 1.1;
      }
    }

    p:last-child {
      span {
        font-weight: $normal;
        @include padMrg(margin-right, 1.5em);
      }
    }

    span {
      font-weight: $bold;
    }
  }

  &__modal-text-subhead {
    font-size: $mediumFont;
    font-weight: $bold;

    @include media(800px) {
      font-size: $baseFontSize;
    }

    @include media(450px) {
      font-size: 108%;
    }
  }

  &__modal-img {
    text-align: right;

    @include media(2250px) {
      flex: 2 0 0;
    }

    @include media(1850px) {
      flex: 1 0 60%;
    }

    @include media(1850px) {
      text-align: center;
    }

    img {
      width: 100%;
      max-width: 1094px;
      height: auto;

      @include media(1100px) {
        width: 63%;
      }

      @include media(1050px) {
         width: 53%;
      }

      @include media(1050px) {
        @media (orientation: portrait) {
         width: 75%;
        }
      }
    }
  }

  &__modal-close-btn {
    float: right;
    background: $blue;
    color: $white;
    font-size: $largeFont;
    cursor: pointer;
    opacity: 0;
    @include padMrg(padding, 0.3em 0.7em);
    @include transition(opacity 0.5s ease 0.5s, background 0.5s ease);

    @include media(1100px) {
      font-size: $mediumFont;
    }

    &:hover {
      background: $turquoiseBlue;
    }
  }

  &--modal-inactive {
    width: 0;
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
    @include transition(transform 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s, width 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s, opacity 1s ease 0.5s);
  }

  &--modal-active {
    width: 100%;
    transform: translate3d(0, 0, 0);
    opacity: 1;
    @include transition(transform 0.5s cubic-bezier(0.77, 0, 0.175, 1), width 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.5s ease);
  }

  &--content-active {
    opacity: 1;
    @include transition(opacity 0.5s ease);

    .projects__modal-content {
      opacity: 1;
    }
  }

  &--content-inactive {
    opacity: 0;
    @include transition(opacity 0.5s ease);

    .projects__modal-content {
      opacity: 0;
    }
  }
}