// Site colors
$blue: darken(rgb(4,90,250), 0); // #045afa
$blueMidDark: darken($blue, 6%);
$blueDark: darken($blue, 25%);
$navyBlue: darken($blue, 36%);
/* $turquoiseBlue: rgb(80, 235, 199); // #50EBC7 */
$turquoiseBlue: rgb(5, 220, 129); // #05dc81
$white: rgb(255, 255, 255); // #ffffff
$black: rgb(0, 0, 0); // #000000
$grey: lighten($black, 40%);
$greyDark: lighten($black, 15%);
$greyMedLight: lighten($black, 35%);
$greyHighLight: lighten($black, 95%);
$red: rgb(228, 63, 111);// #E43F6F

// Root
$baseFont: 'Muli', sans-serif;
$baseFontSize: 1rem;

// Font weights
$light: 300;
$normal: 400;
$mediumBold: 600;
$bold: 700;

// Font size variations
$smallFont: $baseFontSize / 1.2; // 13px
$mediumFont: $baseFontSize * 1.1; // 22px
$largeFont: $baseFontSize * 1.2; // 24px

// Heading font sizes
$h1Size: $baseFontSize * 3; // 60px
$h2Size: $baseFontSize * 2; // 40px
$h3Size: $baseFontSize * 1.5; // 30px

// Heading colors
$h1Color: $black;
$h2Color: $blue;
$h3Color: $red;

// Heading line height
$headingLine: 1.4;

// Width & height
$fullCover: 100%;

