// Site colors
$blue: rgb(5,105,255); // #0569ff
$blueMidDark: darken($blue, 6%);
$blueDark: darken($blue, 21%);
$navyBlue: darken($blue, 36%);
$turquoiseBlue: rgb(80, 235, 199); // ##50EBC7
$white: rgb(255, 255, 255); // #ffffff
$black: rgb(0, 0, 0); // #000000
$grey: lighten($black, 30%);
$yellow: rgb(249, 220, 92); // #F9DC5C
$red: rgb(228, 63, 111);// #E43F6F

// Root
$baseFont: 'Barlow', sans-serif;
$baseFontSize: 1rem;
$baseFontWeight: 400;

// Heading font sizes
$h1: $baseFontSize * 3; // 54px
$h2: $baseFontSize * 2; // 36px
$h3: $baseFontSize * 1.5; // 27px

// Heading colors
$h1Color: $black;
$h2Color: $blue;
$h3Color: $red;

// Font weights
$mediumBold: 500;
$bold: 600;

// Width
$widthFull: 100%;

